<form class="example-form" [formGroup]="form" (submit)="onSubmit()">
  <mat-form-field class="example-full-width">
    <mat-label>Название</mat-label>
    <input matInput formControlName="name">
  </mat-form-field>
  <div *ngIf="form.get('name').touched && form.get('name').invalid">
    <mat-error *ngIf="form.get('name').errors['required']">
      Обязательное поле
    </mat-error>
    <mat-error *ngIf="form.get('name').errors['maxlength']">
      Не более 80 символов
    </mat-error>
  </div>

  <mat-form-field class="example-full-width">
    <textarea
      cdkTextareaAutosize
      cdkAutosizeMinRows="2"
      cdkAutosizeMaxRows="10"
      matInput
      placeholder="Описание"
      formControlName="description">
    </textarea>
  </mat-form-field>
  <div class="errors" *ngIf="form.get('description').touched && form.get('description').invalid">
    <mat-error *ngIf="form.get('description').errors['required']">
      Обязательное поле
    </mat-error>
    <mat-error *ngIf="form.get('description').errors['maxlength']">
      Описание не может превышать 500 символов
    </mat-error>
  </div>

  <button class="submit-button" mat-raised-button color="primary" [disabled]="form.invalid || form.disabled">Отправить</button>
</form>
