<div *ngIf="question.id > 0" class="wrapper">
  <form class="example-form" [formGroup]="form" (submit)="saveQuestion()">
    <mat-form-field class="example-full-width">
      <textarea
        cdkTextareaAutosize
        cdkAutosizeMinRows="2"
        cdkAutosizeMaxRows="10"
        matInput
        placeholder="Текст вопроса"
        formControlName="text">
      </textarea>
    </mat-form-field>
    <div class="errors" *ngIf="form.get('text').touched && form.get('text').invalid">
      <mat-error *ngIf="form.get('text').errors['required']">
        Обязательное поле
      </mat-error>
      <mat-error *ngIf="form.get('text').errors['maxlength']">
        Описание не может превышать 500 символов
      </mat-error>
    </div>

    <button
      class="submit-button"
      mat-raised-button
      color="primary"
      [disabled]="form.invalid || form.disabled"
    >
      Сохранить
    </button>

  </form>

  <h2 class="mat-h2 options-header">Варианты ответа</h2>
  <div *ngFor="let answerOption of question.answer_options">
    <app-edit-answer-option-form [formInput]="answerOption"></app-edit-answer-option-form>
  </div>
  <div *ngIf="question.answer_options.length === 0">
    Нет вариантов ответа
  </div>
  <button
      class="submit-button"
      mat-raised-button
      color="primary"
      (click)="createAnswerOption()"
    >
      Добавить вариант ответа
    </button>
</div>
