.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.submit-button {
  margin-top: 10px;
}

.wrapper {
  margin-top: 20px;
}

.options-header {
  margin-top: 20px;
}
