<form class="example-form" [formGroup]="loginForm" (submit)="onSubmit()">
  <mat-form-field class="example-full-width">
    <mat-label>Ваша почта</mat-label>
    <input matInput formControlName="username">
  </mat-form-field>
  <div *ngIf="loginForm.get('username').touched && loginForm.get('username').invalid">
    <mat-error *ngIf="loginForm.get('username').errors['required']">
      Введите почту
    </mat-error>
  </div>

  <mat-form-field class="example-full-width">
    <input type="password" matInput placeholder="Ваш пароль" formControlName="password">
  </mat-form-field>
  <div *ngIf="loginForm.get('password').touched && loginForm.get('password').invalid">
    <mat-error *ngIf="loginForm.get('password').errors['required']">
      Введите пароль
    </mat-error>
  </div>
  <button class="submit-button" mat-raised-button color="primary" [disabled]="loginForm.invalid || loginForm.disabled">Войти</button>
</form>
