<mat-card class="card">
  <mat-card-header>
    <mat-card-title>{{passedLesson.lesson.name}}</mat-card-title>
    <mat-card-subtitle>
      Статус: {{ passedLesson.status }}
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Раскрыть детали
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>Код возврата процесса разворачивания узлов: {{passedLesson.provisioning_return_code}}</p>
      <p>Код возврата процесса конфигурирования узлов: {{passedLesson.configuration_return_code}}</p>
      <a *ngIf="passedLesson.key_file" [href]="passedLesson.key_file">Скачать файл с ключом</a>

        <mat-form-field class="textarea-form" appearance="outline">
          <mat-label>Логи конфигурирования узлов</mat-label>
          <textarea
            cdkTextareaAutosize
            cdkAutosizeMinRows="2"
            cdkAutosizeMaxRows="10"
            matInput
            [disabled]="true">
            {{ passedLesson.provisioning_logs }}
          </textarea>
        </mat-form-field>

        <mat-form-field class="textarea-form" appearance="outline">
          <mat-label>Логи конфигурирования узлов</mat-label>
          <textarea
            cdkTextareaAutosize
            cdkAutosizeMinRows="1"
            cdkAutosizeMaxRows="10"
            matInput
            [disabled]="true">
            {{ passedLesson.configuration_logs }}
          </textarea>
        </mat-form-field>

    </mat-expansion-panel>
  </mat-card-content>
  <mat-card-actions>
    <button mat-flat-button color="primary" *ngIf="passedLesson.is_notification_active" (click)="readNotification()">
      Прочитать уведомление
    </button>
    <app-manipulate-instances-form *ngIf="['ru', 'st'].includes(passedLesson.status)" [passedLesson]="passedLesson">
    </app-manipulate-instances-form>
  </mat-card-actions>
</mat-card>
