mat-card {
  margin-top: 5px;
  margin-bottom: 5px;
}

mat-expansion-panel {
  background-color: #f6f6f6;
}

.textarea-form {
  width: 100%;
  background-color: white;
  margin-top: 10px;
}

textarea[disabled] {
   color: #000000;
}
