<form class="example-form" [formGroup]="regForm" (submit)="onSubmit()">


  <mat-form-field class="example-full-width">
    <input matInput placeholder="Электронная почта" formControlName="email">
  </mat-form-field>
  <div *ngIf="regForm.get('email').touched && regForm.get('email').invalid">
    <mat-error *ngIf="regForm.get('email').errors['required']">
      Введите e-mail
    </mat-error>
    <mat-error *ngIf="regForm.get('email').errors['email']">
      Введите корректный e-mail
    </mat-error>
    <mat-error *ngIf="regForm.get('fio').errors['maxlength']">
      Длина не должна превышать 254 символа
    </mat-error>
  </div>


  <mat-form-field class="example-full-width">
    <input matInput placeholder="ФИО" formControlName="fio">
  </mat-form-field>
  <div *ngIf="regForm.get('fio').touched && regForm.get('fio').invalid">
    <mat-error *ngIf="regForm.get('fio').errors['required']">
      Введите ФИО
    </mat-error>
    <mat-error *ngIf="regForm.get('fio').errors['pattern']">
      Введите корректный ФИО
    </mat-error>
    <mat-error *ngIf="regForm.get('fio').errors['maxlength']">
      Длина не должна превышать 100 символов
    </mat-error>
  </div>


  <mat-form-field class="example-full-width">
    <input type="password" matInput placeholder="AWS Access Key ID" formControlName="aws_access_key_id">
  </mat-form-field>
  <div *ngIf="regForm.get('aws_access_key_id').touched && regForm.get('aws_access_key_id').invalid">
    <mat-error *ngIf="regForm.get('aws_access_key_id').errors['required']">
      Введите ключ
    </mat-error>
    <mat-error *ngIf="regForm.get('aws_access_key_id').errors['maxlength']">
      Длина не должна превышать 100 символов
    </mat-error>
  </div>


  <mat-form-field class="example-full-width">
    <input type="password" matInput placeholder="AWS Secret Access Key" formControlName="aws_secret_access_key">
  </mat-form-field>
  <div *ngIf="regForm.get('aws_secret_access_key').touched && regForm.get('aws_secret_access_key').invalid">
    <mat-error *ngIf="regForm.get('aws_secret_access_key').errors['required']">
      Введите ключ
    </mat-error>
    <mat-error *ngIf="regForm.get('aws_secret_access_key').errors['maxlength']">
      Длина не должна превышать 100 символов
    </mat-error>
  </div>


  <mat-form-field class="example-full-width">
    <input type="password" matInput placeholder="AWS Session Token" formControlName="aws_session_token">
  </mat-form-field>
  <div *ngIf="regForm.get('aws_session_token').touched && regForm.get('aws_session_token').invalid">
    <mat-error *ngIf="regForm.get('aws_session_token').errors['maxlength']">
      Длина не должна превышать 500 символов
    </mat-error>
  </div>


  <mat-form-field class="example-full-width">
    <input type="password" matInput placeholder="Пароль" formControlName="password">
  </mat-form-field>
  <div *ngIf="regForm.get('password').touched && regForm.get('password').invalid">
    <mat-error *ngIf="regForm.get('password').errors['required']">
      Введите пароль
    </mat-error>
    <mat-error *ngIf="regForm.get('password').errors['minlength']">
      Пароль должен содержать более 6 символов
    </mat-error>
    <mat-error *ngIf="regForm.get('password').errors['maxlength']">
      Длина не должна превышать 255 символов
    </mat-error>
  </div>


  <mat-form-field class="example-full-width">
    <input type="password" matInput placeholder="Повторите пароль" formControlName="repeatPassword">
  </mat-form-field>
  <div *ngIf="regForm.get('repeatPassword').touched">

    <mat-error
      *ngIf="regForm.get('repeatPassword').invalid && regForm.get('repeatPassword').errors['required']; else notEqualMessage">
      Повторите ввод пароля
    </mat-error>

    <ng-template #notEqualMessage>
      <mat-error *ngIf="regForm.hasError('notEqual')">
        Пароли должны совпадать
      </mat-error>
    </ng-template>

  </div>


  <button class="submit-button" mat-raised-button color="primary" [disabled]="regForm.invalid || regForm.disabled">
    Зарегистрироваться!
  </button>


</form>
