<form class="example-form" [formGroup]="lessonForm" (submit)="onSubmit()">
  <mat-form-field class="example-full-width">
    <mat-label>Название</mat-label>
    <input matInput formControlName="name">
  </mat-form-field>
  <div *ngIf="lessonForm.get('name').touched && lessonForm.get('name').invalid">
    <mat-error *ngIf="lessonForm.get('name').errors['required']">
      Обязательное поле
    </mat-error>
    <mat-error *ngIf="lessonForm.get('name').errors['maxlength']">
      Не более 80 символов
    </mat-error>
  </div>

  <mat-form-field class="example-full-width">
    <textarea
      cdkTextareaAutosize
      cdkAutosizeMinRows="2"
      cdkAutosizeMaxRows="10"
      matInput
      placeholder="Описание"
      formControlName="description">
    </textarea>
  </mat-form-field>
  <div class="errors" *ngIf="lessonForm.get('description').touched && lessonForm.get('description').invalid">
    <mat-error *ngIf="lessonForm.get('description').errors['required']">
      Обязательное поле
    </mat-error>
    <mat-error *ngIf="lessonForm.get('description').errors['maxlength']">
      Описание не может превышать 500 символов
    </mat-error>
  </div>

  <mat-card>

    <mat-card-title>Загрузить файлы</mat-card-title>

    <div>
      <div>
        <button type="button" class="button" mat-button color="primary" (click)="RolesRequirementsFile.click()">
          Загрузить requirements.yml файл для описания ролей
        </button>
        <span><a href="#" (click)="$event.preventDefault(); downloadFileFromForm('roles_requirements_file')">{{ lessonForm.get("roles_requirements_file").value.name }}</a></span>
      </div>
      <input hidden (change)="onFileChange($event, 'roles_requirements_file')" type="file"
             #RolesRequirementsFile/>
    </div>

    <div>
      <div>
        <button type="button" class="button" mat-button color="primary" (click)="RolesManagementPlaybookFile.click()">
          Загрузить playbook для управления ansible-ролями
        </button>
        <span><a href="#" (click)="$event.preventDefault(); downloadFileFromForm('role_management_playbook_file')">{{ lessonForm.get("role_management_playbook_file").value.name }}</a></span>

      </div>
      <input hidden (change)="onFileChange($event, 'role_management_playbook_file')" type="file"
             #RolesManagementPlaybookFile/>
    </div>

    <div>
      <div>
        <button type="button" class="button" mat-button color="primary" (click)="InstancesProvisioningPlaybookFile.click()">
          Загрузить playbook разворачивания узлов (опционально)
        </button>
        <span><a href="#" (click)="$event.preventDefault(); downloadFileFromForm('instances_provisioning_playbook_file')">{{ lessonForm.get("instances_provisioning_playbook_file").value.name }}</a></span>
      </div>
      <input hidden (change)="onFileChange($event, 'instances_provisioning_playbook_file')" type="file"
             #InstancesProvisioningPlaybookFile/>
    </div>

    <div>
      <div>
        <button type="button" class="button" mat-button color="primary" (click)="VariablesFile.click()">
          Загрузить файл с переменными разворачивания узлов
        </button>
        <span><a href="#" (click)="$event.preventDefault(); downloadFileFromForm('variables_file')">{{ lessonForm.get("variables_file").value.name }}</a></span>
      </div>
      <input hidden (change)="onFileChange($event, 'variables_file')" type="file"
             #VariablesFile/>
    </div>

    <div>
      <div>
        <button type="button" class="button" mat-button color="primary" (click)="DrawioLibraryFile.click()">
          Загрузить пользовательскую библиотеку компонентов Draw.io (опционально)
        </button>
        <span><a href="#" (click)="$event.preventDefault(); downloadFileFromForm('drawio_library_file')">{{ lessonForm.get("drawio_library_file").value.name }}</a></span>
      </div>
      <input hidden (change)="onFileChange($event, 'drawio_library_file')" type="file"
             #DrawioLibraryFile/>
    </div>

  </mat-card>

  <mat-card>

    <mat-card-title>Использовать конструктор</mat-card-title>

     <button type="button" class="button" mat-button color="primary" (click)="openSetsOfInstancesConstructor()">
       Конструктор конфигурации разворачивания узлов
     </button>

    <button type="button" class="button" mat-button color="primary" (click)="openRolesRequirementsConstructor()">
       Конструктор requirements.yml для Ansible-ролей
     </button>

  </mat-card>

  <mat-form-field class="example-full-width">
    <mat-label>Таймер уведомления студентов</mat-label>
    <input matInput formControlName="notification_timer">
  </mat-form-field>
  <div *ngIf="lessonForm.get('notification_timer').touched && lessonForm.get('notification_timer').invalid">
    <mat-error *ngIf="lessonForm.get('notification_timer').errors['required']">
      Обязательное поле
    </mat-error>
    <mat-error *ngIf="lessonForm.get('notification_timer').errors['pattern']">
      Должен быть формат чч:мм:сс
    </mat-error>
  </div>

  <mat-form-field class="example-full-width">
    <mat-label>Таймер остановки узлов</mat-label>
    <input matInput formControlName="stop_instances_timer">
  </mat-form-field>
  <div *ngIf="lessonForm.get('stop_instances_timer').touched && lessonForm.get('stop_instances_timer').invalid">
    <mat-error *ngIf="lessonForm.get('stop_instances_timer').errors['required']">
      Обязательное поле
    </mat-error>
    <mat-error *ngIf="lessonForm.get('stop_instances_timer').errors['pattern']">
      Должен быть формат чч:мм:сс
    </mat-error>
  </div>

  <mat-form-field class="example-full-width">
    <mat-label>Таймер выключения узлов</mat-label>
    <input matInput formControlName="terminate_instances_timer">
  </mat-form-field>
  <div *ngIf="lessonForm.get('terminate_instances_timer').touched && lessonForm.get('terminate_instances_timer').invalid">
    <mat-error *ngIf="lessonForm.get('terminate_instances_timer').errors['required']">
      Обязательное поле
    </mat-error>
    <mat-error *ngIf="lessonForm.get('terminate_instances_timer').errors['pattern']">
      Должен быть формат чч:мм:сс
    </mat-error>
  </div>

  <button class="submit-button" mat-raised-button color="primary" [disabled]="lessonForm.invalid || lessonForm.disabled">Отправить</button>
</form>
