<div class="chart-container" xmlns:svg="http://www.w3.org/1999/XSL/Transform">
  <ngx-graph
    [links]="hierarchicalGraph.links"
    [nodes]="hierarchicalGraph.nodes"
  >
    <ng-template #nodeTemplate let-node>
      <svg:g class="node" ngx-tooltip [attr.tooltipPlacement]="'top'" [attr.tooltipType]="'tooltip'" [attr.tooltipTitle]="node.label" (click)="onNodeClick(node)">
        <svg:rect
          [attr.width]="100"
          [attr.height]="30"
          [attr.fill]="node.data.color"
        />
        <svg:text alignment-baseline="central" [attr.x]="10" [attr.y]="20">
          {{node.label}}
        </svg:text>
      </svg:g>
    </ng-template>
  </ngx-graph>
</div>
