<form class="example-container" [formGroup]="form" (submit)="onSubmit()">
  <mat-form-field>
    <mat-label>Изменить статус</mat-label>
    <mat-select matNativeControl required formControlName="status">
      <mat-option value="ru" [disabled]="passedLesson.status == 'ru'">Running</mat-option>
      <mat-option value="st" [disabled]="passedLesson.status == 'st'">Stopped</mat-option>
      <mat-option value="te">Terminated</mat-option>
    </mat-select>
  </mat-form-field>
  <button class="submit-button" mat-raised-button color="primary" [disabled]="form.invalid || form.disabled">
    Изменить
  </button>
</form>
