<mat-card>

  <form class="example-form" [formGroup]="form" (submit)="saveAnswerOption()">

    <mat-form-field class="example-full-width">
        <textarea
          cdkTextareaAutosize
          cdkAutosizeMinRows="2"
          cdkAutosizeMaxRows="10"
          matInput
          placeholder="Текст варианта ответа"
          formControlName="text">
        </textarea>
    </mat-form-field>
    <div class="errors" *ngIf="form.get('text').touched && form.get('text').invalid">
      <mat-error *ngIf="form.get('text').errors['required']">
        Обязательное поле
      </mat-error>
      <mat-error *ngIf="form.get('text').errors['maxlength']">
        Описание не может превышать 500 символов
      </mat-error>
    </div>

    <mat-form-field class="example-full-width">
      <input matInput placeholder="Название траектории" formControlName="learning_path_id"
             [matAutocomplete]="auto">
    </mat-form-field>
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="valueMapper">
      <mat-option *ngFor="let option of autoCompleteOptions" [value]="option">
        {{ option.name }}
      </mat-option>
    </mat-autocomplete>

    <mat-form-field class="example-full-width">
      <mat-label>Следующий вопрос</mat-label>
      <mat-select formControlName="next_question">
        <mat-option>--</mat-option>
        <mat-option *ngFor="let question of (currentQuestionList$ | async)" [value]="question">
          {{question.text.substring(0, 10)}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <button
      class="submit-button"
      mat-raised-button
      color="primary"
      [disabled]="form.invalid || form.disabled"
    >
      Сохранить
    </button>

    <button
      class="submit-button"
      mat-raised-button
      color="primary"
      [disabled]="form.invalid || form.disabled"
      (click)="$event.preventDefault(); createQuestion()"
    >
      Новый вопрос
    </button>

  </form>

</mat-card>
