<h2 class="mat-h2 local-header">Управление зависимостями</h2>

<form class="example-form" [formGroup]="form" (submit)="onAddCourseSubmit()">

  <div class="row">
    <mat-form-field>
      <input matInput placeholder="Введите название курса" formControlName="name" [matAutocomplete]="auto">
    </mat-form-field>

    <button mat-mini-fab [disabled]="form.invalid || form.disabled">
       <mat-icon aria-label="">add</mat-icon>
    </button>
  </div>
  <mat-autocomplete #auto="matAutocomplete" [displayWith]="valueMapper">
    <mat-option *ngFor="let option of autoCompleteOptions" [value]="option">
      {{ option.name }}
    </mat-option>
  </mat-autocomplete>

  <div class="errors" *ngIf="form.get('name').touched && form.get('name').invalid">
    <mat-error *ngIf="form.get('name').errors['required']">
      Введите название курса
    </mat-error>
    <mat-error *ngIf="form.get('name').errors['maxlength']">
      Длина не может превышать 70 символов
    </mat-error>
  </div>

</form>


<div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
  <div *ngFor="let learningPathDependency of learningPathDependencyList; let i = index" class="example-box" cdkDrag>
    <a class="question-link">{{i + 1}}. {{learningPathDependency.course.name}}</a>
    <span>
      <mat-icon class="grey-icon">open_with</mat-icon>
      <mat-icon class="delete-icon" (click)="deleteDependency(i)">delete</mat-icon>
    </span>
  </div>
  <div class="example-box" *ngIf="learningPathDependencyList.length === 0">
    Список курсов пуст
  </div>
</div>

<button mat-raised-button color="primary" (click)="saveDependencies()">
  Сохранить зависимости
</button>
