<mat-card>

  <mat-card-content>

    <section class="example-section">

      <form [formGroup]="form">

        <mat-checkbox class="example-margin" formControlName="onlyFavorite">Только избранные</mat-checkbox>
        <mat-checkbox class="example-margin" formControlName="onlyMy">Только созданные</mat-checkbox>

        <mat-form-field>
          <mat-select formControlName="visibility">
            <mat-option *ngFor="let option of visibilitySelectionOptionsList" [value]="option">
              {{option.fullName}}
            </mat-option>
          </mat-select>
        </mat-form-field>

      </form>

    </section>

  </mat-card-content>

</mat-card>
