.example-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.example-radio-button {
  margin: 5px;
}

.checkbox-text-wrap {
  white-space: normal;
}

.submit-button {
  margin-top: 10px;
}
