<mat-card>

  <form [formGroup]="form" (submit)="onSubmit()">

    <mat-card-content>

      <p [innerHTML]="currentQuestion.text | replaceLineBreaks"></p>

      <mat-radio-group
        aria-labelledby="example-radio-group-label"
        class="example-radio-group"
        formControlName="answer_options">
        <mat-radio-button class="example-radio-button" *ngFor="let answer_option of currentQuestion.answer_options"
                          [value]="answer_option.id">
          <span class="checkbox-text-wrap">
            {{answer_option.text}}
          </span>
        </mat-radio-button>
      </mat-radio-group>
    </mat-card-content>

    <mat-card-actions>
      <button class="submit-button" mat-raised-button color="primary" [disabled]="form.invalid || form.disabled">
        Отправить
      </button>
    </mat-card-actions>

  </form>

</mat-card>
