<app-specific-passed-lessons-item *ngFor="let passedLesson of passedLessonsList" [passedLesson]="passedLesson">
</app-specific-passed-lessons-item>
<p *ngIf="passedLessonsList.length === 0">Прохождения отсутствуют</p>
