<mat-accordion>
  <app-specific-lesson-item *ngFor="let lesson of lessonList; let i = index"
                            [index]="i + 1" [lesson]="lesson">
  </app-specific-lesson-item>
  <p *ngIf="lessonList.length === 0">Уроки отсутствуют</p>
</mat-accordion>
<button mat-button routerLink="/dashboard/courses/{{courseId$ | async}}/create_lesson">Добавить урок</button>
