.card {
  margin-bottom: 5px;
  margin-top: 5px;
}

.example-header-image {
  background-image: url('../../../../../assets/md_avatar_headphones.svg');
  background-size: cover;
}

mat-card-actions {
  text-align: center
}

mat-icon {
  display: inline-flex;
  vertical-align: middle;
  margin-right: 5px;
}
