<mat-card class="card">
  <mat-card-header>
    <mat-card-title>{{course.name}}</mat-card-title>
    <mat-card-subtitle>
      Автор: {{course.teacher.fio | fioShortener}}
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p [innerHTML]="course.description | truncate:['140'] | replaceLineBreaks"></p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-flat-button color="primary" routerLink="/dashboard/courses/{{course.id}}/lessons">
      Просмотреть уроки
    </button>
  </mat-card-actions>
</mat-card>
