<div class="manipulate-buttons">
  <button mat-flat-button color="warn" (click)="deleteAdaptiveTest()">
    Удалить
  </button>
</div>

<app-general-form-for-adaptive-tests [formInput]="adaptiveTest"></app-general-form-for-adaptive-tests>

<app-question-graph></app-question-graph>

<app-edit-question-form></app-edit-question-form>
