<ng-container *ngIf="learningPath">

  <div class="manipulate-buttons">
    <button mat-flat-button color="primary"
            *ngIf="(userSubject$ | async).id === learningPath.creator.id"
            routerLink="/dashboard/learning_paths/{{ learningPath.id }}/edit">
      Редактировать
    </button>
    <button mat-flat-button color="primary"
            *ngIf="learningPath.favorite_learning_paths.length === 0" (click)="addToFavorite()">
      Добавить в избранное
    </button>
    <button mat-flat-button color="warn"
            *ngIf="learningPath.favorite_learning_paths.length !== 0" (click)="deleteFromFavorite()">
      Удалить из избранного
    </button>
  </div>
  <p>{{ learningPath ? 'Описание: ' + learningPath.description : '' }}</p>
</ng-container>

<app-named-learning-path-dependency-card
  *ngFor="let learningPathDependency of learningPathDependencies"
  [learningPathDependency]="learningPathDependency">
</app-named-learning-path-dependency-card>
