<div class="manipulate-buttons">
  <button mat-flat-button color="warn" (click)="deleteLearningPath()">
    Удалить
  </button>
</div>

<app-general-form-for-named-learning-path [formInput]="learningPath"></app-general-form-for-named-learning-path>

<app-edit-dependency-list-for-named-learning-path
  [learningPathDependencyList]="learningPathDependencies"
  [learningPath]="learningPath">
</app-edit-dependency-list-for-named-learning-path>
