<form class="example-form" [formGroup]="courseForm" (submit)="onSubmit()">
  <mat-form-field class="example-full-width">
    <mat-label>Название</mat-label>
    <input matInput formControlName="name">
  </mat-form-field>
  <div *ngIf="courseForm.get('name').touched && courseForm.get('name').invalid">
    <mat-error *ngIf="courseForm.get('name').errors['required']">
      Обязательное поле
    </mat-error>
    <mat-error *ngIf="courseForm.get('name').errors['maxlength']">
      Не более 80 символов
    </mat-error>
  </div>

  <mat-form-field class="example-full-width">
    <textarea
      cdkTextareaAutosize
      cdkAutosizeMinRows="2"
      cdkAutosizeMaxRows="10"
      matInput
      placeholder="Описание"
      formControlName="description">
    </textarea>
  </mat-form-field>
  <div class="errors" *ngIf="courseForm.get('description').touched && courseForm.get('description').invalid">
    <mat-error *ngIf="courseForm.get('description').errors['required']">
      Обязательное поле
    </mat-error>
    <mat-error *ngIf="courseForm.get('description').errors['maxlength']">
      Описание не может превышать 500 символов
    </mat-error>
  </div>

  <mat-form-field class="example-full-width">
    <mat-label>Таймер уведомления студентов</mat-label>
    <input matInput formControlName="notification_timer">
  </mat-form-field>
  <div *ngIf="courseForm.get('notification_timer').touched && courseForm.get('notification_timer').invalid">
    <mat-error *ngIf="courseForm.get('notification_timer').errors['required']">
      Обязательное поле
    </mat-error>
    <mat-error *ngIf="courseForm.get('notification_timer').errors['pattern']">
      Должен быть формат чч:мм:сс
    </mat-error>
  </div>

  <mat-form-field class="example-full-width">
    <mat-label>Таймер остановки узлов</mat-label>
    <input matInput formControlName="stop_instances_timer">
  </mat-form-field>
  <div *ngIf="courseForm.get('stop_instances_timer').touched && courseForm.get('stop_instances_timer').invalid">
    <mat-error *ngIf="courseForm.get('stop_instances_timer').errors['required']">
      Обязательное поле
    </mat-error>
    <mat-error *ngIf="courseForm.get('stop_instances_timer').errors['pattern']">
      Должен быть формат чч:мм:сс
    </mat-error>
  </div>

  <mat-form-field class="example-full-width">
    <mat-label>Таймер выключения узлов</mat-label>
    <input matInput formControlName="terminate_instances_timer">
  </mat-form-field>
  <div *ngIf="courseForm.get('terminate_instances_timer').touched && courseForm.get('terminate_instances_timer').invalid">
    <mat-error *ngIf="courseForm.get('terminate_instances_timer').errors['required']">
      Обязательное поле
    </mat-error>
    <mat-error *ngIf="courseForm.get('terminate_instances_timer').errors['pattern']">
      Должен быть формат чч:мм:сс
    </mat-error>
  </div>

  <button class="submit-button" mat-raised-button color="primary" [disabled]="courseForm.invalid || courseForm.disabled">Отправить</button>
</form>
