.example-form {
  min-width: 150px;
  max-width: 600px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.submit-button {
  margin: 5px
}

.delete-set-of-instances-button {
  float: right;
  margin: -10px;
}

mat-card {
  margin-bottom: 10px;
}

.upload-archive-icon {
  cursor: pointer;
}
