<h2 class="mat-h2">Конструктор requirements.yml для Ansible-ролей</h2>

<form class="example-form" [formGroup]="form" (submit)="onSubmit()">
  <div formArrayName="roles">
    <div *ngFor="let role of roles.controls; let i=index">
      <div [formGroupName]="i">

        <mat-card>
          <button class="delete-set-of-instances-button" mat-icon-button color="warn"
                  (click)="$event.preventDefault(); removeRole(i)">
            <mat-icon>highlight_off</mat-icon>
          </button>

          <mat-form-field class="example-full-width">
            <mat-label>Name</mat-label>
            <input matInput formControlName="name">
          </mat-form-field>
          <div *ngIf="role.get('name').touched && role.get('name').invalid">
            <mat-error *ngIf="role.get('name').errors['required']">
              Обязательное поле
            </mat-error>
            <mat-error *ngIf="role.get('name').errors['maxlength']">
              Не более 256 символов
            </mat-error>
          </div>

          <mat-form-field class="example-full-width">
            <mat-label>Source</mat-label>
            <input matInput formControlName="src">
            <mat-icon matSuffix class="upload-archive-icon" (click)="$event.preventDefault();RoleArchiveFile.click()">
              cloud_upload
            </mat-icon>
            <input hidden (change)="onRoleArchiveFileChange($event, i)" type="file" #RoleArchiveFile/>
          </mat-form-field>
          <div *ngIf="role.get('src').touched && role.get('src').invalid">
            <mat-error *ngIf="role.get('src').errors['maxlength']">
              Не более 256 символов
            </mat-error>
          </div>

          <mat-form-field class="example-full-width">
            <mat-label>Version</mat-label>
            <input matInput formControlName="version">
          </mat-form-field>
          <div *ngIf="role.get('version').touched && role.get('version').invalid">
            <mat-error *ngIf="role.get('version').errors['maxlength']">
              Не более 256 символов
            </mat-error>
          </div>

          <mat-form-field class="example-full-width">
            <mat-label>SCM</mat-label>
            <input matInput formControlName="scm">
          </mat-form-field>
          <div *ngIf="role.get('scm').touched && role.get('scm').invalid">
            <mat-error *ngIf="role.get('scm').errors['maxlength']">
              Не более 256 символов
            </mat-error>
          </div>

        </mat-card>

      </div>
    </div>
  </div>

  <button class="submit-button" mat-raised-button color="primary"
          (click)="$event.preventDefault(); addRole()">
    Добавить роль
  </button>

  <button class="submit-button" mat-raised-button color="primary" [disabled]="form.invalid || form.disabled"
          (click)="$event.preventDefault(); downloadGeneratedFile()">
    Скачать сгенерированный файл
  </button>

  <button class="submit-button" mat-raised-button color="primary" [disabled]="form.invalid || form.disabled">
    Подставить сгенерированный файл в форму
  </button>
</form>

