<h2 class="mat-h2">Конструктор конфигурации разворачивания узлов</h2>

<form class="example-form" [formGroup]="form" (submit)="onSubmit()">
  <div formArrayName="sets">
    <div *ngFor="let set of sets.controls; let i=index">
      <div [formGroupName]="i">

        <mat-card>
          <button class="delete-set-of-instances-button" mat-icon-button color="warn"
                  (click)="$event.preventDefault(); removeSetOfInstances(i)">
            <mat-icon>highlight_off</mat-icon>
          </button>

          <mat-form-field class="example-full-width">
            <mat-label>Значение тега</mat-label>
            <input matInput formControlName="count_tag_value">
          </mat-form-field>
          <div *ngIf="set.get('count_tag_value').touched && set.get('count_tag_value').invalid">
            <mat-error *ngIf="set.get('count_tag_value').errors['required']">
              Обязательное поле
            </mat-error>
            <mat-error *ngIf="set.get('count_tag_value').errors['maxlength']">
              Не более 256 символов
            </mat-error>
          </div>

          <mat-form-field class="example-full-width">
            <mat-label>Количество узлов</mat-label>
            <input type="number" matInput formControlName="count">
          </mat-form-field>
          <div *ngIf="set.get('count').touched && set.get('count').invalid">
            <mat-error *ngIf="set.get('count').errors['required']">
              Обязательное поле
            </mat-error>
            <mat-error *ngIf="set.get('count').errors['min']">
              Не менее 1
            </mat-error>
            <mat-error *ngIf="set.get('count').errors['max']">
              Не более 100
            </mat-error>
          </div>

          <mat-form-field class="example-full-width">
            <mat-label>Тип узла</mat-label>
            <input matInput formControlName="type">
          </mat-form-field>
          <div *ngIf="set.get('type').touched && set.get('type').invalid">
            <mat-error *ngIf="set.get('type').errors['required']">
              Обязательное поле
            </mat-error>
            <mat-error *ngIf="set.get('type').errors['maxlength']">
              Не более 100 символов
            </mat-error>
          </div>

          <mat-divider></mat-divider>

          <h3 class="mat-h3 all-tags-text">Другие теги (могут использоваться для группировки узлов)</h3>

          <div formArrayName="all_tags">
            <div *ngFor="let tag of getAllTagsArrayFromSet(set).controls; let j=index">
              <div [formGroupName]="j">
                <mat-form-field class="example-full-width">
                  <mat-label>Значение тега</mat-label>
                  <input matInput formControlName="value">
                  <mat-icon class="delete-tag-value-icon" matSuffix color="warn"
                            (click)="$event.preventDefault(); removeTagValue(i, j)">highlight_off
                  </mat-icon>
                </mat-form-field>
                <div *ngIf="tag.get('value').touched && tag.get('value').invalid">
                  <mat-error *ngIf="tag.get('value').errors['maxlength']">
                    Не более 256 символов
                  </mat-error>
                </div>
              </div>
            </div>
            <button class="submit-button" mat-raised-button color="primary"
                    (click)="$event.preventDefault(); addTagValue(i)">
              Добавить тег
            </button>
          </div>

        </mat-card>

      </div>
    </div>
  </div>

  <button class="submit-button" mat-raised-button color="primary"
          (click)="$event.preventDefault(); addSetOfInstances()">
    Добавить набор узлов
  </button>

  <button class="submit-button" mat-raised-button color="primary" [disabled]="form.invalid || form.disabled"
          (click)="$event.preventDefault(); downloadGeneratedTemplate('variables')">
    Скачать файл с переменными
  </button>

  <button class="submit-button" mat-raised-button color="primary" [disabled]="form.invalid || form.disabled"
          (click)="$event.preventDefault(); downloadGeneratedTemplate('roles_manipulation')">
    Скачать шаблон playbook'а для управления ansible-ролями
  </button>

  <button class="submit-button" mat-raised-button color="primary" [disabled]="form.invalid || form.disabled">
    Подставить сгенерированные файлы в форму
  </button>
</form>
