.card {
  margin-bottom: 5px;
  margin-top: 5px;
}

mat-card-actions {
  text-align: center
}

mat-icon {
  display: inline-flex;
  vertical-align: middle;
  margin-right: 5px;
}

.modify-icon {
  cursor: pointer;
  position: absolute;
  top: 5px;
  right: 5px;
}

mat-card-actions button {
  margin-left: 5px;
  margin-right: 5px;
}
