<mat-card class="card">
  <mat-card-header>
    <ng-container *ngIf="(userSubject$ | async).id === namedLearningPath.creator.id">
      <mat-icon class="modify-icon" routerLink="/dashboard/learning_paths/{{ namedLearningPath.id }}/edit">edit</mat-icon>
    </ng-container>
    <mat-card-title>{{namedLearningPath.name}}</mat-card-title>
    <mat-card-subtitle>
      Автор: {{namedLearningPath.creator.fio | fioShortener}}
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p [innerHTML]="namedLearningPath.description ? (namedLearningPath.description | truncate:['140'] | replaceLineBreaks) : ''"></p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-flat-button color="primary" routerLink="/dashboard/learning_paths/{{namedLearningPath.id}}">
      Просмотреть траекторию
    </button>
    <button mat-flat-button color="primary" *ngIf="namedLearningPath.favorite_learning_paths.length === 0" (click)="addToFavorite()">
      Добавить в избранное
    </button>
    <button mat-flat-button color="warn" *ngIf="namedLearningPath.favorite_learning_paths.length !== 0" (click)="deleteFromFavorite()">
      Удалить из избранного
    </button>
  </mat-card-actions>
</mat-card>
