<div class="wrapper">
  <mat-toolbar color="primary">
    <button
      type="button"
      aria-label="Toggle sidenav"
      mat-icon-button
      *ngIf="isHandset$ | async"
      (click)="drawer.toggle()">
      <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>
    <span class="header-title">Big Data LMS</span>
    <span class="fill-remaining-space-in-toolbar"></span>
    <div class="profile-text-in-header" [matMenuTriggerFor]="menu">
      <button mat-mini-fab class="image avatar-button"></button>
      <span class="mat-small">{{(userInfo$ | async).fio | fioShortener}}</span>
      <mat-icon class="icon expand_more_icon">expand_more</mat-icon>
    </div>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/dashboard/users/edit">
        <mat-icon class="icon">edit</mat-icon>
        Редактировать профиль
      </button>
      <button mat-menu-item (click)="logout()">
        <mat-icon class="icon">exit_to_app</mat-icon>
        Выйти
      </button>
    </mat-menu>
  </mat-toolbar>
  <mat-sidenav-container class="sidenav-container" autosize>
    <mat-sidenav
      #drawer
      class="sidenav"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)">
      <mat-nav-list>

        <a mat-list-item [routerLink]="['/dashboard']" [routerLinkActiveOptions]="{exact: true}"
           routerLinkActive="active">
          <mat-icon class="icon">assignment</mat-icon>
          Все курсы
        </a>

        <a mat-list-item [routerLink]="['/dashboard/courses/create']" [routerLinkActiveOptions]="{exact: true}"
           routerLinkActive="active">
          <mat-icon class="icon">add_circle</mat-icon>
          Создать курс
        </a>

        <a mat-list-item [routerLink]="['/dashboard/passed_lessons']" [routerLinkActiveOptions]="{exact: true}"
           routerLinkActive="active">
          <mat-icon class="icon">assignment_ind</mat-icon>
          Список прохождений
        </a>

        <mat-divider></mat-divider>

        <a mat-list-item [routerLink]="['/dashboard/learning_paths']" [routerLinkActiveOptions]="{exact: true}"
           routerLinkActive="active">
          <mat-icon class="icon">low_priority</mat-icon>
          Список траекторий
        </a>

        <a mat-list-item [routerLink]="['/dashboard/learning_paths/create']" [routerLinkActiveOptions]="{exact: true}"
           routerLinkActive="active">
          <mat-icon class="icon">merge_type</mat-icon>
          Создать траекторию
        </a>

        <a mat-list-item [routerLink]="['/dashboard/adaptive_tests']" [routerLinkActiveOptions]="{exact: true}"
           routerLinkActive="active">
          <mat-icon class="icon">format_list_numbered</mat-icon>
          Список тестов
        </a>

        <a mat-list-item [routerLink]="['/dashboard/adaptive_tests/create']" [routerLinkActiveOptions]="{exact: true}"
           routerLinkActive="active">
          <mat-icon class="icon">subject</mat-icon>
          Создать тест
        </a>

      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="content">
        <h1 class="mat-headline">
          {{title$ | async}}
        </h1>
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
