$toolbar-height: 64px;

.wrapper {
  position: fixed;
  width: 100%
}

.header-title {
  font-size: 25px;
}

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 220px;
  position: fixed;
  margin-top: 55px;
}

.mat-toolbar.mat-primary {
  position: sticky;
  z-index: 2;
  height: $toolbar-height;
}

.content {
  margin: 20px 20px 20px;
}

.mat-nav-list a.active {
  background: #e8e8e8;
}

.icon {
  margin-right: 5px;
  cursor: pointer;
}

.fill-remaining-space-in-toolbar {
  flex: 1 1 auto;
}

.avatar-button {
  &.image {
    margin-right: 5px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-image: url('../../../assets/md_avatar_headphones.svg')
  }
}

.profile-text-in-header {
  cursor: pointer;
}

.expand_more_icon {
  display: inline-flex;
  vertical-align: middle;
}

::ng-deep mat-sidenav-container {
  height: calc(100vh - #{$toolbar-height}) !important;
  height: -moz-calc(100vh - #{$toolbar-height}) !important;
  height: -webkit-calc(100vh - #{$toolbar-height}) !important;
}
