<mat-card class="card">
  <mat-card-header>
    <ng-container *ngIf="(userSubject$ | async).id === adaptiveTest.creator.id">
      <mat-icon class="modify-icon" routerLink="/dashboard/adaptive_tests/{{ adaptiveTest.id }}/edit">edit</mat-icon>
    </ng-container>
    <mat-card-title>{{adaptiveTest.name}}</mat-card-title>
    <mat-card-subtitle>
      Автор: {{adaptiveTest.creator.fio | fioShortener}}
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p [innerHTML]="adaptiveTest.description ? (adaptiveTest.description | truncate:['140'] | replaceLineBreaks) : ''"></p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-flat-button color="primary" (click)="passTest()">
      Пройти тест
    </button>
  </mat-card-actions>
</mat-card>
