<app-filter-learning-paths></app-filter-learning-paths>

<app-named-learning-path-card *ngFor="let learningPath of learningPathList" [namedLearningPath]="learningPath">
</app-named-learning-path-card>
