.fill-remaining-space {
  flex: 1 1 auto;
}

.header-title {
  font-size: 25px;
}

mat-card {
  max-width: 400px;
  margin: 2em auto;
  text-align: center;
}

img {
  max-width: 400px;
  margin: 2em auto;
  text-align: center;
}
