<mat-toolbar color="primary">
  <span class="header-title">Big Data LMS</span>
  <span class="fill-remaining-space"></span>
  <span>
    <a mat-button routerLink="/auth">Вход</a>
    <a mat-button routerLink="/auth/registration">Регистрация</a>
  </span>
</mat-toolbar>
<mat-card>
  <h2>{{ title$ | async }}</h2>
  <router-outlet></router-outlet>
</mat-card>
