<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      {{ index }}. {{ lesson.name }}
    </mat-panel-title>
  </mat-expansion-panel-header>
  <p>{{ lesson.description }}</p>
  <p>Таймер уведомлений: {{ lesson.notification_timer }}</p>
  <p>Таймер остановки узлов: {{ lesson.stop_instances_timer }}</p>
  <p>Таймер удаления узлов: {{ lesson.terminate_instances_timer }}</p>
  <form [formGroup]="form" (submit)="onSubmit()">
    <div *ngIf="lesson.ansible_template.drawio_library_file">
      <div>
        <button type="button" class="button" mat-button color="primary" (click)="DrawioXMLFile.click()">
          Загрузить визуально сконструированное окружение
        </button>
        <span>
          <a href="#" (click)="$event.preventDefault(); onFileDownload()">
            {{ form.get("drawio_file").value.name }}
          </a>
        </span>
      </div>
      <input hidden (change)="onFileChange($event, 'drawio_file')" type="file"
             #DrawioXMLFile/>
      <a [href]="lesson.ansible_template.drawio_library_file">Библиотека компонентов</a>
    </div>
    <button class="pass-lesson-button" mat-flat-button color="primary">
      Пройти урок
    </button>
  </form>
</mat-expansion-panel>
